# Ignore environment variable files
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyc

# Ignore virtual environment directories
venv/
.env/

# Ignore Streamlit temporary files
.streamlit/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
